@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&family=Playfair+Display&family=Poppins&family=Roboto:wght@500&display=swap');
body {
   
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: center;
}
nav {
   
    padding: 12px 0; 
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 20px;
    
}

a {
    text-decoration: none;
    color:#000000;
     font-weight: 500;
    font-size: 18px; 
    font-family: 'Playfair Display', serif;
}


.hero-image {
    background-image: url('assets/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.text-overlay {
    position: absolute;
    background-color: rgba(227, 99, 99, 0.7);
    color: #fff;
    padding: 14px;
    top: 20%;
    left: 6%; 
    width: 43%;
    z-index: 1;
    height: 31%;
}
.text-content {
    margin-top: 3px;
    text-align: left;
    padding: 7px;
    padding-top: 2px;
    padding-right: 55px;
    font-weight: 500;
    font-size: 20px;
    margin-right: 2px;
    letter-spacing: 0.1em; /* Adjust the letter spacing as needed */
    word-spacing: 0.05em; /* Adjust the word spacing as needed */
}

.text-content h1 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    letter-spacing: 0.02em; /* Adjust the letter spacing for h1 as needed */
}

.text-content p {
    margin-top: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.03em; /* Adjust the letter spacing for p as needed */
}



.icons {
    display: flex;
    align-items: center;
}

.icons i {
    
    font-size: 18px;
}